langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.59
langchain-nvidia-ai-endpoints==0.3.10
langchain-text-splitters==0.3.8
langsmith==0.3.42
numpy
pandas
python-dotenv
streamlit
scipy
pydub
faster-whisper
pydub
fastapi
uvicorn[standard]
pydantic
websockets
soundfile
spacy
redis
redis-client
psycopg2-binary